@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Edu+SA+Beginner:wght@600&family=Prompt:ital,wght@1,300&family=Rubik:wght@500&family=Ubuntu+Condensed&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: 'Edu SA Beginner', cursive;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
    box-shadow: 5px 10px 18px rgb(0, 0, 0);
}

.navbar2co {
    font-family: 'Edu SA Beginner', cursive;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
}

.logo {
    padding: 0 100px 0 10px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    ;
    font-weight: bolder;
    background: linear-gradient(20deg, rgb(0 169 255), rgb(43 237 177));
    padding: 14px;
}

.search .form-input {
    padding: 0 100px 0 10px;
    float: left;
    width: 83%;
    border: 2px solid rgb(0 169 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 35px;
    outline: 2px solid transparent;
    outline-offset: 2px;

}

.button {
    float: left;
    width: 17%;
    height: 35px;
    padding: 6px 0px;
    background: linear-gradient(20deg, rgb(0 169 255), rgb(43 237 177));
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
}

.l3 {
    padding: 0px 15px 0 0;
}

.l4 {
    padding: 0px 15px 0 0;
}

.a3 {
    text-decoration: none;
    padding: 7px 20px;
    color: #fdfdfd;
    background: linear-gradient(20deg, rgb(0 169 255), rgb(43 237 177));
    border: none;
    border-radius: 5px;
}

.navbar2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    position: relative;
    /* box-shadow: 5px 10px 18px rgb(0, 0, 0); */
}

.navbar2courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    margin-top: 3px;
    border-top: 1px solid #b8b3b3;
    position: relative;
    padding: 0 15px;
}

.navbar2courses i {
    color: #ff450c;
}


.l2 {
    padding: 15px;
}

.a1 {
    text-decoration: none;
    color: #fdfdfd;
    border: none;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0 169 255);
}

.sec1 {
    min-height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(187170.jpg); */
    padding: 90px;
}

.sec1 .conainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1 .conainer .myself {
    font-size: 80px;
    font-family: 'Edu SA Beginner', cursive;

    padding: 0 15px;
    font-weight: 550;
    color: #3d3c3c;
}

.myproj {
    font-size: 2.5em;
    margin-block-start: 0.83em;
    font-family: 'Dosis', sans-serif;
    padding: 0 15px;
    font-weight: bold;
}



span {
    color: #ff3c00;
}

.span1 {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 40px;
}


.sec1 .conainer .line2 {
    padding: 0 15px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Prompt', sans-serif;
    float: right;
}

.sec2 {
    min-height: 310px;
}

.sec2 .container {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    padding: 0px 22px 0px 23px;

}

.welcome h1 {
    font-size: 40px;
    padding: 10px 0px 10px 0px;
    font-family: 'Edu SA Beginner', cursive;

}

.line1 h1 {
    font-size: 50px;
    font-family: 'Edu SA Beginner', cursive;
    padding: 0 15px;
    text-align: center;
    font-weight: 600;

}

.welcome p {
    padding: 10px 50px 10px 0px;
    text-align: left;
    flex-wrap: wrap;
    font-family: 'Prompt', sans-serif;
}

.image {
    clip-path: polygon(10% 0px, 100% 0%, 100% 100%, 0px 100%);
    width: 138%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image: url("img2.jpg");
}

.l1 {
    padding: 12px 23px 10px 0px;
}

.hearder2co {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
}

.btn1 {
    text-decoration: none;
    padding: 7px 20px;
    color: #fdfdfd;
    background: linear-gradient(20deg, rgb(0 169 255), rgb(43 237 177));
    border: none;
    border-radius: 5px;
    font-family: 'Edu SA Beginner', cursive;
}

.sec3 {
    max-height: 100vh;
}

.container .head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    font-family: 'Dosis', sans-serif;
    font-size: 1.80rem;
}

.con1 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


.blogs {
    width: 24.333333%;
    margin: 50px;
    border-radius: 1rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
}

.bgm1 {
    box-sizing: border-box;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
}

.box1 {
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.pp1 {
    display: block;
    max-width: 100%;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
}

.imgc1 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.text {
    height: 10rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
}

.s1001 {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 13px;
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity));
}

.title2 {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0px 10px 0;
}

.title2 a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.para {
    font-size: .80rem;
    color: black;
    font-family: 'Prompt', sans-serif;
}

.btnn {
    padding-bottom: 1.50rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
}

.btnn a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.btnn .btnn1 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-bg-opacity: 1;
    background: linear-gradient(20deg, rgb(0 169 255), rgb(43 237 177));
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
}

.sec4 {
    min-height: 80vh;
}

.cards1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head2 {
    margin-top: 20px;
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.80rem;
}

.info1 {
    padding: 2rem;
    margin: 20px;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
    height: 13rem;
    border-radius: 1rem;
}

.info1 p {
    padding: 10px 10px;
    font-size: 1rem;
    color: gray;
    font-family: 'Prompt', sans-serif;
}

.info1 .name {
    padding: 0px 20px;
    font-size: 2rem;
    font-family: 'Edu SA Beginner', cursive;
}

.info1 .type {
    padding: 10px 20px;
    font-size: 1rem;
    color: gray;
    font-family: 'Prompt', sans-serif;
}

.footer {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 45px;

}

.right {
    display: flex;
    align-items: center;
}

.head3 {
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    padding: 0px 30px 0px 0px;
    border-right: 2px solid #857a7a;
}

.right p {
    color: gray;
    font-family: 'Edu SA Beginner', cursive;
    padding: 0 25px;
}



.fa i {
    color: gray;
    font-size: 20px;
    padding: 5px;
}




/* courses */
.cosec {
    min-height: 92vh;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
}

.courses {
    text-align: center;
    background: linear-gradient(20deg, rgb(0 169 255), rgb(43 237 177));
    padding: 0px 0px 50px 0px;
    margin: 25px;
    border-radius: 15px;
    flex-wrap: wrap;
}

.courses img {
    grid-area: image;
    background-image: url("38188.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    width: 100%;
}

.courses .co a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
}

.courses p a {
    list-style: none;
    text-decoration: none;
    color: rgb(94, 92, 92);
}

p {
    font-family: 'Edu SA Beginner', cursive;
    padding: 15px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 25px 0;
}

/* seclog */
.forms {
    background: linear-gradient(20deg, rgb(0 169 255), rgb(43 237 177));
    width: 26rem;
    margin: 0px 0px 4.5PX;
    height: 30rem;
    border-radius: 0 15px 15px 0;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.logsec1 {
    min-height: 100vh;
    margin-top: 5rem;
    padding-top: 2rem;
}

.imglog {
    width: 71%;
}

.imglog img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
}

.logcard {
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1 {
    padding: 0 20px;
}

.flexin {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ttin {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-xs {
    font-family: 'Dosis', sans-serif;
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
    font-size: .80rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
}


.myprojlog {
    font-size: 70px;
    font-family: 'Dosis', sans-serif;
    padding: 0 15px;
    font-weight: 550;
    color: #3d3c3c;
}

.logoincom {
    width: 60px;
    border-radius: 30px;
    margin: 20px 0px 20px 0;
}

.logoin {
    width: 50px;
    border-radius: 30px;
    margin: 20px 20px 20px 20px;
}

.comin1 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
    font-size: 3rem;
    font-family: 'Dosis', sans-serif;
}

.comin2 {
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
    padding: 0px 0 5px 0;
}

.emailin {
    border: 1px solid rgb(206, 206, 206);
    outline: none;
    padding: 6px 5px 6px 5px;
    width: 100%;
    border-radius: 3px;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity));
    margin: 5px 0 10px 0px;
}

.floatin {
    float: left;
}

.floatin2 {
    float: right;
}

.floatin b {
    font-family: 'Dosis', sans-serif;
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
}

.floatin2 a {
    list-style: none;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
    font-size: small;
}

.floatin3 a {
    list-style: none;
    text-decoration: none;
    margin: 15px 0px 15px 0px;
    font-family: 'Dosis', sans-serif;
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
    font-size: small;
}


.font1 {
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99/var(--tw-bg-opacity));
    font-weight: 700;
    color: white;
    border: 1px;
    cursor: pointer;
}

.font1:hover {
    transform: 1.5s;
    --tw-bg-opacity: 1;
    background-color: rgb(117 122 129/var(--tw-bg-opacity));

}

code[class*="language-"],
pre[class*="language-"] {
    background: #040217;
    ;
}

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .3em;
}

div.code-toolbar {
    position: relative;
    margin: 70px;
}

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.token.keyword {
    color: #66d9ef;
}

.token.punctuation {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
    color: #e6db74;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #8292a2;
}

div.code-toolbar>.toolbar {
    position: absolute;
    z-index: 10;
    top: .3em;
    right: .2em;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

.toolbar {
    position: absolute;
    z-index: 10;
    top: .3em;
    right: .2em;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

div.code-toolbar>.toolbar>.toolbar-item {
    display: inline-block;
}

div.code-toolbar>.toolbar>.toolbar-item>a,
div.code-toolbar>.toolbar>.toolbar-item>button,
div.code-toolbar>.toolbar>.toolbar-item>span {
    color: #bbb;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    background: hsla(0, 0%, 88%, .2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
    border-radius: .5em;
}

div.code-toolbar>.toolbar>.toolbar-item>button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

[role="button"],
button {
    cursor: pointer;
}


button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}


div.code-toolbar>.toolbar>.toolbar-item>a,
div.code-toolbar>.toolbar>.toolbar-item>button,
div.code-toolbar>.toolbar>.toolbar-item>span {
    color: #bbb;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    background: hsla(0, 0%, 88%, .2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
    border-radius: .5em;
}

div.code-toolbar>.toolbar>.toolbar-item>button {
    color: inherit;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    line-height: normal;
}

button,
select {
    text-transform: none;
}

.psop {
    font-family: 'Dosis', sans-serif;
    margin: 10px 100px 0px 50px;
    padding: 0 15px;
    font-size: 1.20rem;
}

.imagesop b {
    font-family: 'Dosis', sans-serif;
    padding: 5px 15px;
    font-size: 1.20rem;
}

.code-toolbar b {
    font-family: 'Dosis', sans-serif;
    padding: 0 15px;
    font-size: 1.20rem;
}

.SOPin h2 {
    font-family: 'Dosis', sans-serif;
    margin: 10px 100px 0px 50px;
    padding: 0 15px;
}

.SOPin h1 {
    padding: 0 0 0 25px;
    margin: 0 0 0 20px;
}

.imagesop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0 0 0;
}

.pervi a {
    text-decoration: none;
    list-style: none;
    color: #f4f4f4;
    background: #332e2e;
    border: 3px #282626;
    border-radius: 3px;
    font-size: 1.25rem;
    padding: 20px;
    margin: 0px 10px 30px 10px;
    padding: 2px 15px;
}

.pervi {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* for mobail  */
@media screen and (max-width: 700PX) {
    .l4 {
        display: none;
    }

    .SOPin h1 {
        padding: 0 0 0 10px;
        margin: 0 0 0 10px;
    }

    .SOPin h2 {
        padding: 0 0 0 10px;
        margin: 0 0 0 10px;
    }

    .psop {
        margin: 10px 0px 0px 23px;
        padding: 0 30px;
        text-align: inherit;
    }

    code[class*="language-"],
    pre[class*="language-"] {
        font-size: 0.70rem;
    }

    .navbar {
        padding: 0;
    }

    div.code-toolbar {
        margin: 35px;
    }

    .navbar2co {
        padding: 0;
    }

    .line1 h1 {
        font-size: 40px;
    }

    .welcome h1 {
        font-size: 30px;
    }

    .image {
        background: none;
        width: 0;
    }

    .wel2 {
        text-align: center;
    }

    .welcome p {
        padding: 0;
        text-align: center;
    }

    .blogs {
        width: auto;
        margin: 40px;
    }

    .text {
        height: auto;
    }

    .cards1 {
        flex-wrap: wrap;
    }

    .info1 {
        padding: 1rem;
        margin: 35px;
        height: 15rem;
    }

    .footer {
        flex-direction: column;
    }

    .right p {
        padding: 0 10px;
    }

    .forms {
        border-radius: 15px 15px 15px 15px;
    }

    .imglog {
        display: none;
    }

    .imagesop img {
        width: 95%;
    }

    .pervi a{
        font-size: 10px;
        padding: 20px;
        margin: 0px 0px 30px 10px;
        padding: 5px 15px;
    }


}